<%= form_for(@catalog_object) do |f| %>
  <% if @catalog_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalog_object.errors.count, "error") %> prohibited this catalog_object from being saved:</h2>

      <ul>
      <% @catalog_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :current_hp %><br />
    <%= f.number_field :current_hp %>
  </div>
  <div class="field">
    <%= f.label :max_hp %><br />
    <%= f.number_field :max_hp %>
  </div>
  <div class="field">
    <%= f.label :current_velocity %><br />
    <%= f.text_field :current_velocity %>
  </div>
  <div class="field">
    <%= f.label :max_velocity %><br />
    <%= f.text_field :max_velocity %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :radius %><br />
    <%= f.text_field :radius %>
  </div>
  <div class="field">
    <%= f.label :max_cargo %><br />
    <%= f.number_field :max_cargo %>
  </div>
  <div class="field">
    <%= f.label :dockable %><br />
    <%= f.check_box :dockable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
